# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtualenv
venv/
.env
*.env

# Django
db.sqlite3
media/
staticfiles/

# MacOS
.DS_Store
__MACOSX/

# VSCode
.vscode/

# Logs
*.log

# WeasyPrint cache
weasyprint/

# Heroku
*.sqlite3
